.gallery-close {
  position: absolute;
  inset: 0 0 auto auto;
}

.gallery-images {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  overflow: auto;
}

.gallery-images__figure img {
  display: block;
}

.gallery-images__figure figcaption {
  background: var(--color-body-text);
  color: var(--color-body-background);
  display: block;
  padding: 1rem;
  text-align: center;
}

#gallery::backdrop {
  background-color: var(--color-body-background);
  opacity: 0.7;
}
