.header-nav {
  position: relative;
  margin-inline-start: auto;
  z-index: 1;
}

.header-nav button svg {
  pointer-events: none;
}

.header-nav .nav {
  background: var(--color-body-background);
  border: 1px solid;
  min-width: 20rem;
  padding: 1rem 0;
  position: absolute;
  top: calc(100% - 1px);
  inset-inline-end: 0;
}

.header-nav ul,
.header-nav li {
  padding-inline-start: 0;
}

.header-nav ul {
  margin-block: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav__link {
  display: block;
  padding: 0.5em 1rem;
}

.header-nav__link[aria-current="page"],
.header-nav__link.is-selected {
  background-color: var(--color-body-background-grey);
  color: var(--color-body-text);
}
