.tablist {
  display: flex;
  gap: 1px;
}

.tab {
  background: var(--color-body-background);
  border: 1px solid;
  color: var(--color-body-text-light);
  margin-bottom: -1px;
}

.tab[aria-selected="true"] {
  background: var(--color-body-background-grey);
  color: var(--color-body-text);
}

.tabpanel {
  border: 1px solid;
  padding: 1rem;
}
